#navback{
    background-color: coral;
}
.article{
    border: 1px black;
    background-color: aquamarine;
}
.fl{
    float: left;
}
.border{
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
.text-aling-left{
    text-align: left;
}
.smallSpace{
    line-height: 0.7;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
  }



